$fontSize12: 12px;
$w100: 100px;

div{
  font-style: $fontSize12;
  width: $w100;
  height: 200px;


  &:hover{
    font-size: 2*$fontSize12;
  }

  span{
    display: block;
    height: 50px;
    width: $w100;
  }

}